body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
	font-family: 'DMono';
	src: local('DMono'), url('assets/fonts/DTM-Mono.otf') format('TrueType');
}

@font-face {
	font-family: 'P2P';
	src: url('assets/fonts/press-start-2p-font/PressStart2P-vaV7.ttf') format('TrueType');
}

@font-face {
	font-family: 'POperator';
	src: url('assets/fonts/pixel_operator/PixelOperator.ttf') format('TrueType');
}
